body {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    
}

table {
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

thead {
    background-color: lightpink;
}

.code {
    font-style: italic;
    background-color: lightgray;
    font-size: 80%;
}

